body {
    max-width: 1440px;
    background: #FFFFFF;
    color: #000000;
    margin: 0 auto;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

sup {
    vertical-align: top;
}

mark {
    background: #cfcece;
}

b {
    font-weight: 700;
}

i {
    font-style: italic;
}

/* header */

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px auto 0;
    max-width: 1200px;
}

.navigation {
    display: flex;
    align-items: center;
}

.lang {
    font-family: 'Tourney';
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.04em;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.nav__item--link {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
}

.nav__link {
    margin: 0 6px;
}

/* main */

.main {
    max-width: 1200px;
    margin: 0 auto 90px;
}

.section {
    margin-top: 70px;
}

.section__title {
    display: inline-block;
    font-family: 'Francois One';
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.title__item {
    font-family: 'Farro';
    font-weight: 300;
    font-size: smaller;
    line-height: 16px;
    letter-spacing: 0.04em;
}

.section__text {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    margin-top: 40px;
}

.underline {
    text-decoration: underline;
}